
  @font-face {
    
  font-family: 'Neue Haas Grotesk';
  src: url('../../public/fonts/NHaasGroteskTXPro-65Md.ttf') format('true type'),
  
  }

:root {
  --color-1: #920000;
  --color-2: #fbd83f;
  --color-3: #821151;
  --color-4: #0ea334;
  --blur: blur(200px);
}


body {
  width: 1440px;
  background-color:  #161717;
  color: #E6E0D7;
  font-family: 'Neue Haas Grotesk', sans-serif;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  
}
  


